---
---
$title-font: Helvetica, sans-serif;
$copy-font: Raleway;

$page-width: 1024px;

$gutter-size: 40px;
$base-font-size: 16px;

$off-white: #eee;
$red: #f24242;
$black: #555;
$lt-gray: #999;
$extra-lt-gray: #bbb;

$sm-offset: 1rem;
$med-offset: 2rem;
$lg-offset: 5rem;

* {
  box-sizing: border-box;
}

p, section, main, a, div, ul, li, span,
body, html, header, footer {
  margin: 0;
  padding: 0;
}

html {
  font-size: $base-font-size;
  height: 100%;
  width: 100%;
}

body {
  font-family: helvetica, sans-serif;
  height: 100%;
  line-height: 1.5;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 0;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  margin-top: $sm-offset;
}

h5 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

h6 {
  font-size: 1.1rem;
}

a {
  color: $black;
}

a:hover, a:active, a:visited {
  color: $black;
}

.resume {
  margin: 0 auto;
  width: $page-width;
}

.grid {
  display: grid;
  grid-gap: $gutter-size;
}

.personal-info {
  @extend .grid;

  grid-template-columns: 65% 35%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.name {
  color: $black;
  margin-top: $sm-offset;
}

.mute {
  color: $extra-lt-gray;
}

.loud-mute {
  color: $lt-gray;
}

.unpad {
  margin: 0;
  padding: 0;
}

.section-header {
  color: $red;
  letter-spacing: 0.08rem;
}

.contact-info {
  font-family: $copy-font;
}

.experience {
  border-top: 1px solid $off-white;
  padding-top: 2rem;
}

.experience-title {
  margin-bottom: $sm-offset;
  margin-top: 1.5rem;
}

.experience-item {
  @extend .grid;

  grid-template-columns: 25% 75%;
  grid-gap: $gutter-size;

  font-family: $copy-font;
  margin-bottom: 1.25rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.hilights-header {
  @extend .grid;

  grid-template-columns: 50% 50%;
}

.experience-points {
  list-style: none;
  margin-top: 0;
}

.experience-point {
  margin-bottom: 1.5rem;

  .title {
    color: $black;
    font-family: $title-font;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .statement {
    margin-top: 0;
  }

  .details {
    color: #333;
    list-style: initial;
    margin-left: 2rem;
    margin-top: .25rem;
  }
}

.black {
  color: $black;
}

@media print {
  html, body {
    font-size: 10pt;
  }

  .personal-info {
    margin-top: 0 !important;
  }

  .name {
    margin-top: 0;
  }
}