---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$seafoam: #78a583;//#53B1B1;
$marigold: #d87e33;//#FFD278;
$mellow-yellow: #F5BF54;
$red-lipstick: #F55454;
$grimace: #444c7c;//#8EA4D8;
$orange: #DC7C2C;

/* skill colors */
.javascript {
  background: $red-lipstick;
}

.html {
  background: $mellow-yellow;
}

.css {
  background: $orange
}

.php {
  background: $grimace;
}

.rails {
  background: #80D0D0;
}

.hide {
  display: none;
}

/* sticky skills */
#skills {
  &.clone {
    position: fixed;
    top: 0;
    left: 47px;
    margin-top: 0 !important;
    right: 0;
    transform: translateY(-100%);
    transition: transform 0.2 cubic-bezier(.3,.73,.3,.74), display 0.2 linear 0.21;
  }
}

body.down {
  #skills.clone {
    transform: translateY(0);
  }
}
