<div class="experience-item">
  <section class="info">
      <h5><strong>{{ experience.job }}</strong></h5>
      <p class="loud-mute">
        <strong>{{ experience.title }}</strong>
      </p>
      <p class="loud-mute">{{ experience.location }}</p>
      <p class="mute">{{ experience.dates }}</p>
  </section>
  <section class="hilights">
    <ul class="experience-points">
      {% for hilite in experience.hilites %}
        <li class="experience-point">
          <h4 class="title">
            <b>
              {{ hilite.summary.title }}
            </b>
          </h4>
          <p class="statement">
            <em>{{ hilite.summary.statement }}</em>  
          </p>
          <ul class="details">
            {% for duty in hilite.duties %}
              <li>{{ duty }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </section> 
</div>