<header class="personal-info">
    <section class="name">
      <h1 class="unpad">
        <strong>Adam</strong>
        <span class="mute">Biagianti</span>
      </h1>
      <h6 class="section-header unpad">front-end developer</h6>
    </section>
    <section class="contact-info">
      <p>{{ site.data.contact.info.address }}</p>
      <p>{{ site.data.contact.info.city }}</p>
      <p>{{ site.data.contact.info.phone }}</p>
      <p>{{ site.data.contact.info.email }}</p>
      <br/>
      <div style="margin-top: 1.5rem;">
        <div>
          <b><a target="_blank" rel="nofollow" href="https://github.com/el-mapache">github</a></b>
        </div>
        <div>
          <b><a target="_blank" rel="nofollow" href="http://availableforfriendship.com">website</a></b>
        </div>
      </div>
    </section>
  </header>