<header class="personal-info">
    <section class="name">
      <h1 class="unpad">
        <strong>Adam</strong>
        <span class="mute">Biagianti</span>
      </h1>
      <h6 class="section-header unpad">front-end developer</h6>
    </section>
    <section class="contact-info">
      <br/>
      <div style="margin-top: 1.5rem;">
        <p>{{ site.data.contact.info.phone }}</p>
        <p>{{ site.data.contact.info.email }}</p>
        <p>{{ site.data.contact.info.github }}</p>
      </div>
    </section>
  </header>