---
  css: basic
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/basic.css">
</head>
<body>
  <main class="resume">
    {{ content }}
  </main>
</body>
</html>